/* ======= Réinitialisation globale ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}



/* ======= Styles du corps ======= */
body {
    background: #2C2C2C; /* Fond anthracite */
    color: #FFFFFF; /* Texte clair */
    line-height: 1.6;
}

/* ======= En-tête et navigation ======= */
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: #2C2C2C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #D4AF37; /* Couleur dorée */
    text-decoration: none;
    margin-right: 40px;
}

.navbar a {
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #D4AF37; /* Couleur dorée */
}

/* ======= Titres généraux ======= */

h3 {
    margin-top: 160px;
    font-size: 32px;
    color: #FFFFFF;/* Couleur blanche */
}
p1{
    font-size: 34px;
    color: #e8c411; /* Couleur blanche */
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
h2 {
    font-size: 36px;
    text-align: left;
    color: #D4AF37; /* Couleur dorée */
    margin-left: auto;
}
p {
    font-size: 18px;
    color: #FFFFFF; /* Couleur blanche */
    margin-top: 10px;
    margin-bottom: 20px;
}


/* ======= Liens ======= */
a {
    text-decoration: none;
    color: #D4AF37; /* Couleur dorée */
    transition: 0.3s;
}

a:hover {
    color: #FFFFFF; /* Couleur blanche */
}

/* ======= Boutons ======= */
.btn-box {
    display: inline-block;
    background: #6A4E4D; /* Bordeaux */
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-box:hover {
    background: #D4AF37; /* Doré */
    color: #2C2C2C; /* Fond anthracite */
    box-shadow: 0 0 10px #D4AF37, 0 0 20px #D4AF37;
}


/* ======= Sections ======= */
section {
    padding: 50px 10%;
}

/* ======= Pied de page ======= */
footer {
    text-align: center;
    background: #2C2C2C; /* Anthracite */
    color: #FFFFFF;
    padding: 180px;
    font-size: 14px;
}
/* ======= img ======= */

.circle {
    width: 250px;
    height: 250px;
    border: 5px solid #D4AF37; /* Doré */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 60vh;
    padding: 0 10%;
    background: linear-gradient(135deg, #2C2C2C, #2C2C2C); /* Dégradé anthracite et bordeaux */
}